body {
    font-family: Century Gothic;
    overflow-y: hidden;
}


/* CSS Navbar */

.navbar {
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #252525;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff;
}

.btn-login {
    background: #17b2ff;
    border-radius: 5px;
}

.navbar-toggler {
    color: #17b2ff;
}


/* CSS Background Home */

.bg-home {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: fixed;
    z-index: -1;
}


/* Active */

.aktif {
    border-bottom: 3px solid #ffffff;
}


/* Efek Border dari Masuk Kemudian Keluar*/

.sliding-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-underline:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.sliding-underline:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #ffffff;
    transition: width .5s ease;
}

.sliding-underline:hover:before {
    width: 100%;
    background: #ffffff;
    transition: width .5s ease;
}

.sliding-underline:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


/* CSS Content */

.content {
    margin-top: 4.5%;
}

.artikel {
    padding-top: 10%;
    width: 50%;
    padding-left: 3%;
}

.judul {
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
}

.konten {
    color: rgb(255, 255, 255);
}

.btn-erp {
    background: #46ec6f;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.btn-erp:hover {
    background: #17b2ff;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}